* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

boby {
    font-size: 62.5%;
    /* font-family: 'Sarabun', sans-serif; */
    font-family: "neue-haas-grotesk-display", sans-serif;
    text-transform: lowercase;
}

nav {
    margin-top: 7rem;
    position: fixed;
    background-color: black;
}

.content {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    font-family: "neue-haas-grotesk-display", sans-serif;
}

.tituloteam h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 6em;
    font-weight: 700;
    padding-top: 80px;
    letter-spacing: 5px;
    color: rgba(162, 102, 218, 0.9);
}

.equipo {
    background-color: black;
}

.listaequipo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: aliceblue;
    padding: 50px 0;
}

.miembro {
    width: 30%;
    height: fit-content;
    margin-top: 60px;

}

.miembro h2 {
    text-align: center;
    padding: 20px 0;
}

.miembro p {
    color: aliceblue;
    text-align: center;
    
}

.miembro > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 900px) {

    .miembro {
        width: 50%;
        padding: 0 20px;
    } 
    .miembro > img {
        width: 100%;
    }
}

    @media screen and (max-width: 450px) {
        
        .miembro {
            width: 95%;
            padding: 0 20px;
        }
        .miembro > img {
            width: 100%;
        }

        .tituloteam h2 {
            font-size: 60px;
        }
}